# Created by https://www.toptal.com/developers/gitignore/api/vscode,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,sass

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode,sass